<div class="container">
  <div class="card">
    <div class="card-header card-header-warning">
      <h4 class="card-title">Students List</h4>
    </div>
    <div class="card-body table-responsive">
      <table class="table table-striped table-hover table-bordered">
        <thead class="text-warning">
          <tr>
            <th>CIN</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Birth day</th>
            <th>phone</th>
            <th>Baccalaureate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>11111111</th>
            <th>Firas</th>
            <th>Gargouri</th>
            <th>09/05/1989</th>
            <th>97 123 456</th>
            <th>Maths</th>
          </tr>
          <tr>
            <th>22222222</th>
            <th>Nassim</th>
            <th>Troudi</th>
            <th>01/01/1995</th>
            <th>50 111 222</th>
            <th>Maths</th>
          </tr>
          <tr *ngFor="let s of students">
            <th>{{ s.cin }}</th>
            <th>{{ s.fn }}</th>
            <th>{{ s.ln }}</th>
            <th>{{ s.bd }}</th>
            <th>{{ s.ph }}</th>
            <th>{{ s.bac }}</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
